<!DOCTYPE html>
<html>
<head>
  <title>Fish.ly</title>
</head>
<body>
<h1><a href="/">Fish.ly</a></h1>

<% if flash[:notice] %>
    <p><%= flash[:notice] %></p>
<% end %>

<%= yield %>

</body>
</html>