<h2>Register</h2>

<form action="/registrations" method="post">
  <ul>
    <li>
      <label for="username">Username</label>
      <input type="text" name="username" id="username"/>
    </li>
    <li>
      <label for="password">Password</label>
      <input type="password" name="password" id="password"/>
    </li>
    <li>
      <input type="submit" value="Register" />
    </li>
  </ul>
</form>
