<h2>New Fish</h2>

<form action="/fish" method="post">
  <ul>
    <li>
      <label for="name">Name</label>
      <input type="text" name="name" id="name"/>
    </li>
    <li>
      <label for="wikipedia_page">Wikipedia Page</label>
      <input type="text" name="wikipedia_page" id="wikipedia_page"/>
    </li>
    <li>
      <input type="submit" value="Create Fish" />
    </li>
  </ul>
</form>
